.avatar-wrapper {
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
  padding: 0;
  margin: 0 1rem 0 0;

  .avatar-image {
    width: 40px;
    height: 40px;
    left: 1361px;
    top: 16px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
  }

  .text-wrapper {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;

    .name {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: #9ccdff;
      text-align: right;
      padding: 0;
    }

    .role {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      text-align: right;
      color: #ffffff;
      padding: 0;
    }
  }
}
